*{
    box-sizing: border-box;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: sans-serif;
    margin: 0;
}
h1{ font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em; padding: 10px;}
p{font-size: 1.25em;}
ul{list-style: none;}
li{font-size: 1.25em;}

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0,0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0,0, 0.5);
    color: white;
    background-color: #19408f;
}

button:hover{
    background-color: #0f295e;
}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{
    color: #ff95cb;
}
header{
    background-color: #ff95cb;
}

header .logo{
    margin: 0;
    padding: 10px 10px;
    height: 200px;
    width: 200px;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display:  flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 15px;
}
header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: azure;
}
header a:hover{
    color: #19408f;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url(/image/pastelefiaFHD.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#somos-charys{
    margin: 16px 0px;
    font-weight: bold;
    background-color: #ffffff;
}
#somos-charys .container{
    text-align: center;
    padding: 200px 12px;
}

#nuestros-productos{
    background-color: #ff95cb;
    color: white;
    text-align: center;
}

#nuestros-productos h2{
    margin-top: 0;
}

#nuestros-productos .container{
    padding: 100px 0px;
}
#nuestros-productos h2{
    margin-top: 0;
    font-size: 3.2em;
}
#nuestros-productos p{
    display: none;
}
#nuestros-productos .carta {
    background-position: center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}
.carta:first-child{
    background-image:  linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url(/image/pastelCarta.jpg);   
}
.carta:nth-child(2){
    background-image:  linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url(/image/paysCarta.jfif);   
}
.carta:nth-child(3){
    background-image:  linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url(/image/gelatinaCarta.jpg);
}

#nosotros-publicidad {
    text-align: center;
    padding: 200px 12px;
    
}
#contacto .container{
    align-items: center;
}
#contactos li{
    margin: 16px 16px;
    font-weight: bold;
    align-items: center;
}
footer{
    background-color: rgb(230, 230, 230);
}
footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100, 100, 100);
}
footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media(min-width: 720px){
    header{
        position: fixed;
        width: 100%;
    }
    header .container{
        flex-direction: row;
        justify-content: space-between;
        
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }
    #somos-charys .container{
        display: flex;
        justify-content: space-evenly;
    }
    #somos-charys .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #somos-charys .img-container{
        background-image:  linear-gradient(
            0deg,
            rgba(104, 103, 103, 0.5),
            rgba(87, 85, 85, 0.5)
        ) 
        ,url(/image/logo.png);
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px;
    }

    #nuestros-productos .productos{
        display: flex;
        justify-content: center;

    }

    #nuestros-productos p{
        display: block;
        margin-bottom: 30px;
    }
    #nuestros-productos h3{
        margin-top: 0;
    }

    #nuestros-productos .carta{
        padding: 15px;
    }

   

}